{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
<body>
	
	<div id="page">
<header class="header menu_2">
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	<div id="logo">
		<a href="/"><img src="{% static 'img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></a>
	</div>
</header>
	<!-- /header -->
	
	<main>
	<div id="error_page">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-xl-7 col-lg-9">
						<h2>404 <i class="icon_error-triangle_alt"></i></h2>
						<p>We're sorry, but the page you were looking for doesn't exist.</p>
						<form>
							<div class="search_bar_error">
								<input type="text" class="form-control" placeholder="What are you looking for?">
								<input type="submit" value="Search">
							</div>
						</form>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /error_page -->
	</main>
	<!--/main-->
	
{% include 'footer.html' %}
	<!--/footer-->
	</div>
	<!-- page -->
	
	<!-- COMMON SCRIPTS -->
{% include 'scripts.html' %}
	
</body>
</html>